body {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* .social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    a{
        height: 40px;
        img{
            width: 40px;
            aspect-ratio: 1;
        }
    }
  } */
}
